@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
}

body {
  margin: 0;
  background: #2980b9;
  background: linear-gradient(to right, #ffffff, #6dd5fa, #2980b9);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
  max-width: 100%;
  width: 400px;
}

.header {
  padding: 30px;
}
h2 {
  margin: 0;
  text-align: center;
  padding: 1.5rem;
}
ul li {
  margin: 1rem 0;
  font-size: 1.5rem;
}
ul li label {
  cursor: pointer;
}
ul {
  list-style-type: none;
  padding: 0;
}

button {
  background: #11998e;
  border: none;
  color: white;
  display: block;

  font-size: 1.5rem;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
  min-height: 50px;
}
button:hover {
  background-color: #11664f;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p {
  color: rgb(20, 19, 19);
  font-size: 20px;
  text-align: center;
}
@media screen and (max-width: 600px) {
  body {
    margin: 0;
  }
  .header {
    padding: 18px;
  }
  h2 {
    margin: 0;
    text-align: center;
    padding: 14px;
    font-size: 18px;
  }
  button {
    background: #11998e;
    border: none;
    color: white;
    display: block;
    font-size: 24px;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    min-height: 25px;
  }
  ul li {
    margin: 1rem 4px;
    font-size: 1.5rem;
  }
  .main{
    position: absolute;
    top: 45px;
  }
}
@media screen and (max-width: 450px) {
  .header {
    padding: 13px;
  }
  .main {
    position: absolute;
    top: 43px;
    max-width: 350px;
  }
  h2 {
    padding: 11px;
    font-size: 15px;
  }
  footer p {
    font-size: 17px;
  }
}
@media screen and (max-width: 350px) {
  .main {
    max-width: 300px;
    position: absolute;
    top: 41px;
  }
}
@media screen and (max-width: 280px) {
  .main {
    max-width: 280px;
    position: absolute;
    top: 41px;
  }
}
